/* styles for all components */
html {
  font-family: Helvetica;
  text-align: center;
}

/* headings */
h1 {
   font-size: 70px;
 }

h2 {
  font-size: 32px;
}

h1,#ny,#cr {
  color: white;
}

header,#ny {
  background-image: url(../media/the-flatiron-building.png)
}

/* links */
a {
  font-size: 18px;
  color: white ;
}

/* footer  */
footer {
  background-color: dimgray;
  text-align: left;
}

#cr {
  font-size: 11px;
}
